/* static/update.css */
body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: 600;
}

.Content {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #111827;
    font-family: 'Segoe UI';
    font-size: 48px;
    font-weight: bold;
}

a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 550;
    margin: 0 5px;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

input[type="submit"] {
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
    font-weight: 600;
    font-size: medium;
}

input[type="submit"]:hover {
    background-color: #1e40af;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

.generate-btn {
    padding: 8px 12px;
    background-color: #0b6634;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600
}

.generate-btn:hover {
    background-color: #0b6634;
}

.message {
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    font-size: 14px;
}

.message.success {
    background-color: #d1fae5;
    color: #065f46;
}

.message.error {
    background-color: #fee2e2;
    color: #991b1b;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
  
  input[type="checkbox"]+span {
    cursor: pointer;
    font: 16px sans-serif;
    color: black;
}

input[type="checkbox"]+span:before {
    content: '';
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    vertical-align: -2px;
}
  
input[type="checkbox"]:checked+span:before {
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/ios-checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    border-radius: 2px;
    background-color: #bad7ff;
    color: white;
}
  
input[type="checkbox"]:focus+span:before,
input[type="checkbox"]:not(:disabled)+span:hover:before {
    box-shadow: 0px 0px 0px 2px rgba(0, 150, 255, 1);
    outline-color: transparent; 
    outline-width: 2px;
    outline-style: dotted;
}
